@model IEnumerable<ReportUserAlertsDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@ViewBag.LastPrice</h2>
    <h3 class="display-4">Alert list</h3>



    <div class="col-2">
        @{

            if (ViewBag.UserHasAutoAlert == true)
            {
                <button><a class="nav-link text-dark" asp-controller="AlertAuto" asp-action="DeleteAlertAuto">DELETE Auto Price</a></button>
            }
            else
            {
                <button><a class="nav-link text-dark" asp-controller="AlertAuto" asp-action="AddAlertAuto">Add Auto Price</a></button>
            }
        }

    </div>



    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date RegisterTime</th>
                <th scope="col">User Email</th>
                <th scope="col">price</th>
                <th scope="col">Price Difference</th>
                <th scope="col">Last TouchPrice</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DateRegisterTime</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.Price</td>
                        <td>@Convert.ToInt32(item.PriceDifference)</td>

                        @if (item.LastTouchPrice != null)
                        {
                            if (item.IsCrossedUp.HasValue)
                            {
                                <td>
                                    @item.LastTouchPrice
                                    @{
                                        if (item.IsCrossedUp.Value)
                                        {
                                            <samp>UP</samp>
                                        }
                                        else
                                        {
                                            <samp>Down</samp>
                                        }
                                    }
                                </td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                        }
                        else
                        {
                            <td>-</td>
                        }
                        <td>
                            <a asp-action="RemovePrice" asp-route-id="@item.AlertId">Delete</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>
