@model IEnumerable<AlertModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@ViewBag.LastPrice</h2>
    <h3 class="display-4">لیست قیمت های ثبتی</h3>
    <br/>
    <table class="table">
        <thead>
        <tr>
                <th scope="col">Date RegisterTime</th>
                <th scope="col">price</th>
                <th scope="col">Price Difference</th>
                <th scope="col">Last TouchPrice</th>
                <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DateRegisterTime</td>
                        <td>@item.price</td>
                        <td>@Convert.ToInt32(item.PriceDifference)</td>
                        
                        @if (item.LastTouchPrice != DateTime.MinValue)
                        {
                            <td>@item.LastTouchPrice   @{ if (item.IsCrossedUp){ <samp>UP</samp>}
                                                          else {<samp>Down</samp> } }
                            </td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                        <td>
                            <a asp-action="RemovePrice" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>