@model IEnumerable<ReportUserAlertsDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@ViewBag.LastPrice</h2>
    <h3 class="display-4">Alert list</h3>


    <div class="col-2">
        @*<label for="UserId" class="control-label"></label>*@
        <select id="UserId" name="UserId" class="form-control">
            <option value=-1>-- Select user alerts --</option>
            @{
                foreach (var Useritem in ViewBag.UserList)
                {

                    <a asp-action="Index" asp-route-id=@(Useritem.UserId)>
                    <option>@(Useritem.Name)</option> </a>

                    //<option value=@(Useritem.UserId)>@(Useritem.Name)</option>
                    //<option asp-action="Index" asp-route-id=@(Useritem.UserId)>@(Useritem.Name)</option>

                }
            }
        </select>
    </div>



    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date RegisterTime</th>
                <th scope="col">User Email</th>
                <th scope="col">price</th>
                <th scope="col">Price Difference</th>
                <th scope="col">Last TouchPrice</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    @*@if (item.UserId ==  )*@
                    <tr>
                        <td>@item.DateRegisterTime</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.Price</td>
                        <td>@Convert.ToInt32(item.PriceDifference)</td>

                        @if (item.LastTouchPrice != null)
                        {
                            if (item.IsCrossedUp.HasValue)
                            {
                                <td>
                                    @item.LastTouchPrice   @{
                                        if (item.IsCrossedUp.Value)
                                        {
                                            <samp>UP</samp>
                                        }
                                        else
                                        {
                                            <samp>Down</samp>
                                        }
                                    }
                                </td>
                            }
                            else
                            {
                                <td> - </td>
                            }

                        }
                        else
                        {
                            <td>-</td>
                        }
                        <td>
                            <a asp-action="RemovePrice" asp-route-id="@item.AlertId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
